<div id="<%= dom_id schedule %>">

  
  <p>
    <strong>Start Date:</strong>
    <%= schedule.start_date %>
  </p> 
  <p>
    <strong>Project Details:</strong>
    <%= schedule.project_details %>
  </p>
  <p>
    <strong>Task Assigned:</strong>
    <%= schedule.task_assigned %>
  </p>
  <p>
    <strong>Task Status:</strong>
    <%= schedule.task_status %>
  </p>
  <p>
    <strong>Deadline:</strong>
    <%= schedule.deadline %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= schedule.description %>
  </p>  

</div>
